@import "../../styles/mixins";

.HomeWrapper {
  @include make-flex($dir: row);
  height: 100%;
  width: 100%;
  gap: 20px;
  background-color: #f7f7f7;

  &__properties,
  &__preview {
    height: 600px;
    width: 400px;
    border: 1px solid #e3e3e9;
    border-radius: 5px;
    background-color: white;
  }

  &__preview {
    padding: 20px;
    @include make-flex();
    gap: 10px;
    overflow-y: auto;
  }

  &__properties {
    @include make-flex($just: space-between);
    &--top {
      padding: 20px;
      width: 100%;
      @include make-flex($just: flex-start, $align: flex-start);
      gap: 15px;
      hr {
        width: 100%;
      }
    }

    &--checkboxContainer {
      width: 100%;
      height: auto;
      @include make-flex($just: flex-start, $dir: row);
      flex-wrap: wrap;
      gap: 10px;

      & > .InputContainer {
        margin-right: 18px;
      }
    }
  }
}
